## Examples - AutoAD

In [6]:
%pip install kaggle

Requirement already satisfied: kaggle in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (4.66.2)
Requirement already satisfied: python-slugify in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2.2.1)
Requirement already satisfied: bleach in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

You can find the API Username and Key in your Kaggle Account under:
1. Settings
2. API - Create New Token

In [7]:
import os
from dotenv import load_dotenv

# Create dataset directory if it doesnt exist
if not os.path.exists("datasets"):
    os.makedirs("datasets")

# Load API-Credentials
load_dotenv(dotenv_path="../.env")

kaggle_username = os.getenv("KAGGLE_USERNAME")
kaggle_password = os.getenv("KAGGLE_KEY")

In [8]:
import kaggle
kaggle.api.authenticate()

### Movie Reviews - Example

In [9]:
# Animals - Dataset
kaggle.api.dataset_download_files('harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows', path='./datasets', unzip=True)



from pyod.models.iforest import IForest
import pandas as pd
from sklearn import set_config

from autoad.autoad import AutoAD

set_config(transform_output="pandas")


X = pd.read_csv("./datasets/imdb_top_1000.csv")


pipeline_ad = AutoAD()
pipeline_ad.fit(X=X, clf_ad=IForest())


X_output = pipeline_ad.transform(X=X)

Dataset URL: https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows

In [10]:
pipeline_ad.feature_importances_clf

                          Feature  Importance
2                     IMDB_Rating    0.012652
69        categorical__Director_6    0.012000
61        categorical__Overview_8    0.011960
4                     No_of_Votes    0.011723
38         categorical__Runtime_1    0.011065
..                            ...         ...
134        missingindicator_Star2    0.000000
135        missingindicator_Star3    0.000000
136        missingindicator_Star4    0.000000
137  missingindicator_No_of_Votes    0.000000
128        missingindicator_Genre    0.000000

[139 rows x 2 columns]

In [11]:
X_output.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,AD_score,MAD_Total,Tukey_Total
867,https://m.media-amazon.com/images/M/MV5BYTExYj...,Invasion of the Body Snatchers,1956,Approved,80 min,"Drama, Horror, Sci-Fi",7.7,A small-town doctor learns that the population...,92.0,Don Siegel,Kevin McCarthy,Dana Wynter,Larry Gates,King Donovan,44839,NaN,0.017789,1,0
928,https://m.media-amazon.com/images/M/MV5BNWMxYT...,300,2006,A,117 min,"Action, Drama",7.6,King Leonidas of Sparta and a force of 300 men...,52.0,Zack Snyder,Gerard Butler,Lena Headey,David Wenham,Dominic West,732876,"210,614,939",0.015911,1,1
914,https://m.media-amazon.com/images/M/MV5BMTg0Nj...,Sherlock Holmes,2009,PG-13,128 min,"Action, Adventure, Mystery",7.6,Detective Sherlock Holmes and his stalwart par...,57.0,Guy Ritchie,Robert Downey Jr.,Jude Law,Rachel McAdams,Mark Strong,583158,"209,028,679",0.015352,1,1
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435",0.015325,1,0
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612",0.013622,1,1

### FIFA - Example

In [12]:
# FIFA - Dataset
kaggle.api.dataset_download_files('maso0dahmed/football-players-data', path='./datasets', unzip=True)

from pyod.models.pca import PCA
import pandas as pd
from sklearn import set_config

from autoad.autoad import AutoAD

set_config(transform_output="pandas")


X = pd.read_csv("./datasets/fifa_players.csv")

pipeline_ad = AutoAD()
pipeline_ad.fit(X=X, clf_ad=PCA())

X_output = pipeline_ad.transform(X=X)

X_output.head(5)

Dataset URL: https://www.kaggle.com/datasets/maso0dahmed/football-players-data
Couldnt get feature importances..

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,AD_score,MAD_Total,Tukey_Total
6618,A. Singh,Amrinder Singh,5/27/1993,25,185.42,81.2,GK,India,58,62,...,12,36,30,57,16,17,17,9.769237e+36,3,3
6894,K. Malinov,Kristiyan Malinov,3/30/1994,24,170.18,64.9,CM,Bulgaria,59,65,...,53,59,42,61,53,61,59,9.742714e+36,3,3
4163,A. Thapa,Anirudh Thapa,1/15/1998,21,170.18,64.0,"CM,CDM",India,59,71,...,42,56,52,60,47,56,49,9.741943e+36,3,3
17944,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,"ST,LW",Portugal,94,94,...,95,82,85,95,28,31,23,7.609604e+36,4,4
17943,Neymar Jr,Neymar da Silva Santos Junior,2/5/1992,27,175.26,68.0,"LW,CAM",Brazil,92,92,...,89,88,81,94,27,24,33,7.565000e+36,4,4

### NFL Football Player Stats - Example

In [13]:
# NFL Football Player Stats - Dataset
kaggle.api.dataset_download_files('zynicide/nfl-football-player-stats', path='./datasets', unzip=True)

from pyod.models.pca import PCA
import pandas as pd
from sklearn import set_config

from autoad.autoad import AutoAD

set_config(transform_output="pandas")


X = pd.read_json("./datasets/profiles_1512362725.022629.json")
pipeline_ad = AutoAD()
pipeline_ad.fit(X=X, clf_ad=PCA())

X_output = pipeline_ad.transform(X=X)

X_output.head(5)

Dataset URL: https://www.kaggle.com/datasets/zynicide/nfl-football-player-stats
Couldnt get feature importances..

,player_id,name,position,height,weight,current_team,birth_date,birth_place,death_date,college,high_school,draft_team,draft_round,draft_position,draft_year,current_salary,hof_induction_year,AD_score,MAD_Total,Tukey_Total
24703,22945,Alejandro Villanueva,OL,6-9,277.0,Pittsburgh Steelers,1988-09-22,"Maridian, MS",None,Army,"Shape, Belgium",None,NaN,NaN,NaN,"1,500,000",NaN,3.610718e+37,2,1
22607,2544,Antonio Brown,WR,5-10,180.0,Pittsburgh Steelers,1988-07-10,"Miami, FL",None,Central Michigan,"Norland, FL",Pittsburgh Steelers,6.0,195.0,2010.0,"910,000",NaN,3.597738e+37,2,0
21081,1465,Le'Veon Bell,RB,6-2,230.0,Pittsburgh Steelers,1992-02-18,"Reynoldsburg, OH",None,Michigan St.,"Groveport Madison, OH",Pittsburgh Steelers,2.0,48.0,2013.0,"12,120,000",NaN,3.594448e+37,2,0
17100,18977,Ben Roethlisberger,QB,6-5,240.0,Pittsburgh Steelers,1982-03-02,"Lima, OH",None,Miami (OH),"Findlay, OH",Pittsburgh Steelers,1.0,11.0,2004.0,"12,000,000",NaN,3.513509e+37,2,1
17856,11648,Landry Jones,QB,6-4,225.0,Pittsburgh Steelers,1989-04-04,"Artesia, NM",None,Oklahoma,"Artesia, NM",Pittsburgh Steelers,4.0,115.0,2013.0,"1,900,000",NaN,3.508909e+37,2,1