## Examples - AutoAD

In [6]:
%pip install kaggle

Requirement already satisfied: kaggle in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (4.66.2)
Requirement already satisfied: python-slugify in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (2.2.1)
Requirement already satisfied: bleach in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\joerg\anaconda3\envs\dl_env\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

You can find the API Username and Key in your Kaggle Account under:
1. Settings
2. API - Create New Token

In [7]:
import os
from dotenv import load_dotenv

# Create dataset directory if it doesnt exist
if not os.path.exists("datasets"):
    os.makedirs("datasets")

# Load API-Credentials
load_dotenv(dotenv_path="../.env")

kaggle_username = os.getenv("KAGGLE_USERNAME")
kaggle_password = os.getenv("KAGGLE_KEY")

In [8]:
import kaggle
kaggle.api.authenticate()

### IMDB Movie Reviews - Example

In [23]:
kaggle.api.dataset_download_files('harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows', path='./datasets', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows

In [31]:

from pyod.models.iforest import IForest
import pandas as pd
from sklearn import set_config

from autoad.autoad import AutoAD

set_config(transform_output="pandas")

X = pd.read_csv("./datasets/imdb_top_1000.csv")


pipeline_ad = AutoAD()
pipeline_ad.fit(X=X, clf_ad=IForest(random_state=2))


X_output = pipeline_ad.transform(X=X)

pipeline_ad.feature_importances_clf

                          Feature  Importance
3                      Meta_score    0.013148
51           categorical__Genre_6    0.011810
105          categorical__Star4_2    0.011657
26   categorical__Released_Year_1    0.011553
4                     No_of_Votes    0.011525
..                            ...         ...
134        missingindicator_Star2    0.000000
135        missingindicator_Star3    0.000000
136        missingindicator_Star4    0.000000
137  missingindicator_No_of_Votes    0.000000
129  missingindicator_IMDB_Rating    0.000000

[139 rows x 2 columns]

In [33]:
X_output.head(15)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,AD_score,MAD_Total,Tukey_Total
867,https://m.media-amazon.com/images/M/MV5BYTExYj...,Invasion of the Body Snatchers,1956,Approved,80 min,"Drama, Horror, Sci-Fi",7.7,A small-town doctor learns that the population...,92.0,Don Siegel,Kevin McCarthy,Dana Wynter,Larry Gates,King Donovan,44839,NaN,0.019019,1,0
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435",0.017185,1,0
942,https://m.media-amazon.com/images/M/MV5BODNiZm...,The Butterfly Effect,2004,U,113 min,"Drama, Sci-Fi, Thriller",7.6,Evan Treborn suffers blackouts during signific...,30.0,Eric Bress,J. Mackye Gruber,Ashton Kutcher,Amy Smart,Melora Walters,451479,"57,938,693",0.015501,1,1
909,https://m.media-amazon.com/images/M/MV5BMjI2OD...,Celda 211,2009,NaN,113 min,"Action, Adventure, Crime",7.6,The story of two men on different sides of a p...,NaN,Daniel MonzÃ³n,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel MorÃ³n,63882,NaN,0.015366,1,0
566,https://m.media-amazon.com/images/M/MV5BZTY3Yj...,King Kong,1933,Passed,100 min,"Adventure, Horror, Sci-Fi",7.9,A film crew goes to a tropical island for an e...,90.0,Merian C. Cooper,Ernest B. Schoedsack,Fay Wray,Robert Armstrong,Bruce Cabot,78991,"10,000,000",0.015299,1,0
924,https://m.media-amazon.com/images/M/MV5BMTI5Mj...,Huo Yuan Jia,2006,PG-13,104 min,"Action, Biography, Drama",7.6,A biography of Chinese Martial Arts Master Huo...,70.0,Ronny Yu,Jet Li,Li Sun,Yong Dong,Yun Qu,72863,"24,633,730",0.012414,1,0
568,https://m.media-amazon.com/images/M/MV5BMTAxYj...,Nosferatu,1922,NaN,94 min,"Fantasy, Horror",7.9,Vampire Count Orlok expresses interest in a ne...,NaN,F.W. Murnau,Max Schreck,Alexander Granach,Gustav von Wangenheim,Greta SchrÃ¶der,88794,NaN,0.012252,1,0
913,https://m.media-amazon.com/images/M/MV5BMzc0Zm...,Die Welle,2008,NaN,107 min,"Drama, Thriller",7.6,A high school teacher's experiment to demonstr...,NaN,Dennis Gansel,JÃ¼rgen Vogel,Frederick Lau,Max Riemelt,Jennifer Ulrich,102742,NaN,0.011459,1,0
959,https://m.media-amazon.com/images/M/MV5BMGExOG...,Dark City,1998,A,100 min,"Mystery, Sci-Fi, Thriller",7.6,"A man struggles with memories of his past, whi...",66.0,Alex Proyas,Rufus Sewell,Kiefer Sutherland,Jennifer Connelly,William Hurt,187927,"14,378,331",0.010952,1,1
495,https://m.media-amazon.com/images/M/MV5BMzQ5NG...,The Man from Earth,2007,NaN,87 min,"Drama, Fantasy, Mystery",7.9,An impromptu goodbye party for Professor John ...,NaN,Richard Schenkman,David Lee Smith,Tony Todd,John Billingsley,Ellen Crawford,174125,NaN,0.010801,1,1
874,https://m.media-amazon.com/images/M/MV5BYWUxMz...,Gilda,1946,Approved,110 min,"Drama, Film-Noir, Romance",7.7,A small-time gambler hired to work in a Buenos...,NaN,Charles Vidor,Rita Hayworth,Glenn Ford,George Macready,Joseph Calleia,27991,NaN,0.010544,1,0
845,https://m.media-amazon.com/images/M/MV5BYmVhMD...,Le locataire,1976,R,126 min,"Drama, Thriller",7.7,A bureaucrat rents a Paris apartment where he ...,71.0,Roman Polanski,Roman Polanski,Isabelle Adjani,Melvyn Douglas,Jo Van Fleet,39889,"1,924,733",0.009139,1,0
875,https://m.media-amazon.com/images/M/MV5BMjAxMT...,Fantasia,1940,G,125 min,"Animation, Family, Fantasy",7.7,A collection of animated interpretations of gr...,96.0,James Algar,Samuel Armstrong,Ford Beebe Jr.,Norman Ferguson,David Hand,88662,"76,408,097",0.008393,1,0
876,https://m.media-amazon.com/images/M/MV5BYjllMm...,The Invisible Man,1933,TV-PG,71 min,"Horror, Sci-Fi",7.7,"A scientist finds a way of becoming invisible,...",87.0,James Whale,Claude Rains,Gloria Stuart,William Harrigan,Henry Travers,30683,NaN,0.008156,1,0
567,https://m.media-amazon.com/images/M/MV5BMjMyYj...,Freaks,1932,NaN,64 min,"Drama, Horror",7.9,A circus' beautiful trapeze artist agrees to m...,80.0,Tod Browning,Wallace Ford,Leila Hyams,Olga Baclanova,Roscoe Ates,42117,NaN,0.008061,1,0

### FIFA - Example

In [12]:
# FIFA - Dataset
kaggle.api.dataset_download_files('maso0dahmed/football-players-data', path='./datasets', unzip=True)

from pyod.models.pca import PCA
import pandas as pd
from sklearn import set_config

from autoad.autoad import AutoAD

set_config(transform_output="pandas")


X = pd.read_csv("./datasets/fifa_players.csv")

pipeline_ad = AutoAD()
pipeline_ad.fit(X=X, clf_ad=PCA())

X_output = pipeline_ad.transform(X=X)

X_output.head(5)

Dataset URL: https://www.kaggle.com/datasets/maso0dahmed/football-players-data
Couldnt get feature importances..

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,AD_score,MAD_Total,Tukey_Total
6618,A. Singh,Amrinder Singh,5/27/1993,25,185.42,81.2,GK,India,58,62,...,12,36,30,57,16,17,17,9.769237e+36,3,3
6894,K. Malinov,Kristiyan Malinov,3/30/1994,24,170.18,64.9,CM,Bulgaria,59,65,...,53,59,42,61,53,61,59,9.742714e+36,3,3
4163,A. Thapa,Anirudh Thapa,1/15/1998,21,170.18,64.0,"CM,CDM",India,59,71,...,42,56,52,60,47,56,49,9.741943e+36,3,3
17944,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,2/5/1985,34,187.96,83.0,"ST,LW",Portugal,94,94,...,95,82,85,95,28,31,23,7.609604e+36,4,4
17943,Neymar Jr,Neymar da Silva Santos Junior,2/5/1992,27,175.26,68.0,"LW,CAM",Brazil,92,92,...,89,88,81,94,27,24,33,7.565000e+36,4,4

### NFL Football Player Stats - Example

In [13]:
# NFL Football Player Stats - Dataset
kaggle.api.dataset_download_files('zynicide/nfl-football-player-stats', path='./datasets', unzip=True)

from pyod.models.pca import PCA
import pandas as pd
from sklearn import set_config

from autoad.autoad import AutoAD

set_config(transform_output="pandas")


X = pd.read_json("./datasets/profiles_1512362725.022629.json")
pipeline_ad = AutoAD()
pipeline_ad.fit(X=X, clf_ad=PCA())

X_output = pipeline_ad.transform(X=X)

X_output.head(5)

Dataset URL: https://www.kaggle.com/datasets/zynicide/nfl-football-player-stats
Couldnt get feature importances..

,player_id,name,position,height,weight,current_team,birth_date,birth_place,death_date,college,high_school,draft_team,draft_round,draft_position,draft_year,current_salary,hof_induction_year,AD_score,MAD_Total,Tukey_Total
24703,22945,Alejandro Villanueva,OL,6-9,277.0,Pittsburgh Steelers,1988-09-22,"Maridian, MS",None,Army,"Shape, Belgium",None,NaN,NaN,NaN,"1,500,000",NaN,3.610718e+37,2,1
22607,2544,Antonio Brown,WR,5-10,180.0,Pittsburgh Steelers,1988-07-10,"Miami, FL",None,Central Michigan,"Norland, FL",Pittsburgh Steelers,6.0,195.0,2010.0,"910,000",NaN,3.597738e+37,2,0
21081,1465,Le'Veon Bell,RB,6-2,230.0,Pittsburgh Steelers,1992-02-18,"Reynoldsburg, OH",None,Michigan St.,"Groveport Madison, OH",Pittsburgh Steelers,2.0,48.0,2013.0,"12,120,000",NaN,3.594448e+37,2,0
17100,18977,Ben Roethlisberger,QB,6-5,240.0,Pittsburgh Steelers,1982-03-02,"Lima, OH",None,Miami (OH),"Findlay, OH",Pittsburgh Steelers,1.0,11.0,2004.0,"12,000,000",NaN,3.513509e+37,2,1
17856,11648,Landry Jones,QB,6-4,225.0,Pittsburgh Steelers,1989-04-04,"Artesia, NM",None,Oklahoma,"Artesia, NM",Pittsburgh Steelers,4.0,115.0,2013.0,"1,900,000",NaN,3.508909e+37,2,1